{% extends "layout.html" %}

{% block title %}
Savings
{% endblock %}

{% block main %}
<div class="container mt-4" style="max-width: 500px;">
    <h4 class="text-center mb-3 text-success fw-bold">
        Current Balance: ${{ "%.2f"|format(balance) }}
    </h4>

    <h2 class="text-centerl mb-4">Add to Saving</h2>

    <form action="/saving" method="post" class="p-4 bg-white shadow rounded">

        <!-- Select existing goals -->
         <div class="mb-3">
            <label class="form-label">Choose Saving Goal</label>
            <select name="goal_id" id="goal_id" class="form-select">
                <option value="" selected disabled>-- Select Goal --</option>
                {% for goal in goals %}
                    <option value="{{ goal.id }}">{{ goal.name }} (Saved: {{ goal.saved }})</option>
                {% endfor %}
            </select>
         </div>

         <!-- Create new goal -->

         <div class="mb-3">
            <label class="form-label">-- Create New Goal --</label>
            <input class="form-control" name="new_goal" id="new_goal" autocomplete="off" placeholder="New Goal Name" type="text">
         </div>

         <!-- Set terget amount -->
          <div class="mb-3">
            <label class="form-label">-- Target Amount ($) --</label>
            <input class="form-control" name="target_amount" id="target_amount" step="0.01" autocomplete="off" placeholder="$ 0.00" disabled type="number">
          </div>

          
         <!-- Deposit amount  -->
          <div class="mb-3">
            <label class="form-label">-- Deposit Amount ($) --</label>
            <input class="form-control" name="amount" id="amount" step="0.01" autocomplete="off" placeholder="$ 0.00" type="number" required>
          </div>

          <div class="mb-3">
            <button class="btn btn-primary w-100">Add Deposit</button>
          </div>
    </form>
</div>
{% endblock %}
